.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


::selection {
  background: #073eb4;    
  color: #ffffff;         
}


::-moz-selection {
  background: #073eb4;    
  color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.scroll-to-top {
  position: fixed;
  bottom: 55px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dc3545;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top:hover {
  background-color: #c82333;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.scroll-to-top:active {
  transform: scale(0.95);
}

.scroll-to-top::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.scroll-to-top:hover::after {
  opacity: 1;
}


.accordion-button {
  border: 1px solid red;
  font-weight: 500;
  color: black;
}

.accordion-button:not(.collapsed) {
  color: white;
  box-shadow: none;
}

.accordion-body {
  border: 1px solid red;
  border-top: none;
  background-color: #fff;
  color: #333;
}

.accordion-item {
  border: none !important;
}


